<!DOCTYPE html>
<html lang="en" data-ng-app="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>english vocabulary test</title>
    <script src="english1.js"></script>
</head>
<body>
    <div class="container" data-ng-init="customers=[{enWord:'addict',heWord:'מָכוּר'},
                                        {enWord:'column',heWord:'טור'},
                                        {enWord:'grid',heWord:'רֶשֶׁת'},
                                        {enWord:'logic',heWord:'הִגָיוֹן'},
                                        {enWord:'popularity',heWord:'פּוֹפּוּלָרִיוּת'},
                                        {enWord:'to spread',heWord:'להפיץ'},
                                        {enWord:'to realize',heWord:'להבין'},
                                        {enWord:'suitable',heWord:'מַתְאִים'},
                                        {enWord:'row',heWord:'שׁוּרָה'},
                                        {enWord:'national',heWord:'לאומי'},
                                        {enWord:'to be pronounced',heWord:'לבטא'},
                                        {enWord:'to be divided',heWord:'להתחלק'},
                                        {enWord:'patience',heWord:'סבלנות'},
                                        {enWord:'skills',heWord:'כישורים'},
                                        {enWord:'to pet',heWord:'ללטף'},
                                        {enWord:'to be taken seriously',heWord:'שיתייחסו אליו ברצינות'},
                                        {enWord:'to wonder',heWord:'לתהות'},
                                        {enWord:'to react',heWord:'להגיב'},
                                        {enWord:'to calm down',heWord:'להרגע'},
                                        {enWord:'conscious',heWord:'מוּדָע'},
                                        {enWord:'obedient',heWord:'מְמוּשׁמָע'},
                                        {enWord:'observant',heWord:'שׁוֹמֵר מִצווֹת'},
                                        {enWord:'sorrow',heWord:'צַעַר'},
                                        {enWord:'furious',heWord:'זוֹעֵם'},
                                        {enWord:'unique',heWord:'ייחודי'},
                                        {enWord:'parasite',heWord:'טַפִּיל'},
                                        {enWord:'develop',heWord:'לְפַתֵחַ'},
                                        {enWord:'unforgettable',heWord:'בלתי נשכח'},
                                        {enWord:'to react',heWord:'להגיב'},
                                        {enWord:'social',heWord:'חֶברָתִי'},
                                        {enWord:'to be isolated',heWord:'להיות מבודד'},                                                                                                                                                                                                                                                                                                                                                                                                                
                                        {enWord:'female',heWord:'נְקֵבָה'},
                                        {enWord:'male',heWord:'זָכָר'},
                                        {enWord:'to be located',heWord:'להיות ממוקם'},
                                        {enWord:'nature reserve',heWord:'שמורת טבע'}                             
                                 ]">

        <div class="container" data-ng-init="customers"></div>


        <br />
        <h3> enter a word </h3>
        <input id="txtWord" type="text" data-ng-model='enHeWrods' />

        <ul>
            <li data-ng-repeat="cust in customers | filter:enHeWrods | orderBy:'enWord'"> {{cust.enWord | lowercase}}
                &nbsp;&nbsp; - &nbsp;&nbsp; {{cust.heWord | uppercase}} </li>
        </ul>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"> </script> <!-- script loading up -->
    
</body>

</html>