<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div ng-app="myApp" ng-controller="myController">
      <input type="text" ng-model="searchText" placeholder="Search...">  
      <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>City</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="person in data | filter:searchText" >
              <td>{{person.first_name}}</td>
              <td>{{person.last_name}}</td>
              <td>{{person.age}}</td>
            </tr>
          </tbody>
        </table>
      </div>      
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" defer></script>
      <script src="script.js" defer></script>
</body>
</html>